.main{
    /* border: 2px solid black; */
    position: relative;
}
.middleline{
    border-left: 2px solid black;
   position: absolute;
   top: 1.5rem;
   left: 2rem;
   height: 88%;
   width: 95%;
}
.innerline{
    /* border-left: 2px solid black; */
   position: absolute;
   padding-left: 15px;
   top: .17rem;
   left: 2rem;
   height: 88%;
   width: 95%;
}
.innerline::after{
    content: '';
    position: absolute;
    height: 90%;
    top: 32px;
    left: 0;
    border-left: 2px solid black;
}
.textbox p span{
    position: relative;
   font-size: 1.3rem;
   top: 4px;
}
#firstline-code{
    position: absolute;
    top: 20px;
    left: 0;
}
.textbox p{
    font-weight: bold;
    line-height: .05rem;
}
.textbox{
    padding-top: 18px;
}