body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: #21202D;
    color: white;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.topbar{
    width: 100vw;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(98, 98, 98);
    z-index: 1;
}

.buttons{
    display: flex;
    margin-left: 20px;
}

.red, .green, .yellow{
    height: 11px;
    width: 11px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
}

.red{
    background-color: #FA8282;
    cursor: pointer;
}

.yellow{
    background: #FFFCA0;
    cursor: pointer;
}

.green{
    background: #8CFFAB;
}

.topbar p{
    margin: auto;
    color: rgb(111, 111, 111);
    font-weight: 500;
}

.navbar{
    width: 100vw;
    height: 70px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    z-index: 1;
    background: #21202D;
}

.smallNav{
    width: 100%;
    height: 45px;
    display: flex;
    background-color: #17151e;
    color: rgb(139, 139, 139);
}

.empty{
    width: 100%;
    border-bottom:solid 1px rgb(98, 98, 98);
}

.home, .about, .projects{
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(98, 98, 98);
    cursor: pointer;
}

.home:hover, .about:hover, .projects:hover{
    /* border-top: solid 6px #b482fa; */
    color: #ffa058;
}

.focused{
    border-top: solid 3.5px #b482fa;
    border-bottom: none;
    background: #21202D;
    color: #ffa058;
}

.homeContent{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
}

.content{
    display: flex;
    width: 100vw;
    /* flex-grow: 1; */
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content::-webkit-scrollbar{
    display: none;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.upper{
    display: flex;
    flex-direction: column;
    /* padding-top: 160px; */
    padding-left: 40px;
}

.upper p{
    margin: 0;
}

.upper .intro{
    font-size: 20px;
    padding-left: 6px;
}

.upper .cap{
    font-weight: 300px;
    font-size: 70px;
}

.upper .pos{
    color: rgb(0, 174, 255);
    font-size: 30px;
    padding-left: 3px;
}

.lower{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.lower label{
    color: rgb(123, 123, 123);
    font-size: 17px;
}

.lower .inputer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.inputer i{
    padding-right: 15px;
    color: #b482fa;
}

.inputer input[type="text"]{
    background: #21202D;
    border: none;
    font-size: 26px;
    font-weight: bold;
    /* cursor: text; */
    color: rgb(97, 97, 97);
    caret-color: #b482fa;
}

.inputer input:focus{
    outline: none;
    color: #b482fa;
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.projectContainer1, .projectContainer2{
    display: flex;
    flex-direction: column;
    background: #181819;
    border-radius: 6px;
    border: 2px solid rgb(52, 52, 52);
    color: rgb(97, 97, 97);
    width: 395px;
    position: absolute;
}

.projectHeader{
    display: flex;
    width: 100%;
}

.project1, .project2{
    display: flex;
    flex: 1;
    color: #ffb300;
    padding: 0px 0px 0px 15px;
}

.commits{
    display: flex;
    padding: 0px 15px 0px 0px;
}

.innerIde{
    display: flex;
    flex-direction: column;
    background: #100f10;
    margin: 5px 25px 15px 20px;
    border-radius: 6px;
}

.commentStart{
    margin: 25px 0px 0px 20px;
    color: rgb(150, 150, 162);
}

.commentContent{
    margin: 4px 0px 0px 22px;
    color: rgb(150, 150, 162);
    border-left: rgb(79, 79, 79) solid 3px;
}

.commentContent p{
    margin: 0;
    padding-left: 6px;
}

.alert{
    display: flex;
    width: 100%;
    justify-content: center;
    background: #ffb300;
    margin: 20px 1px;
    font-weight: bold;
}

.alert p{
    margin:0;
}

.projectUnfocused{
    z-index: 0;
    transform: scale(0.9) translateY(-25%) ;
    filter: blur(1px) grayscale(50%) opacity(0.8);
    cursor: pointer;
}

.projectFocused{
    z-index: 2;     
}

.glower{
    height: 250px;
    width: 300px;
    background-color: #7aea55;
    border-radius: 50%;
    filter: blur(50px);
    transform: translateY(2%);
    z-index: 1;
}

/* About me */
.abouter{
    align-content: normal;
}


.aboutContent{
    width: 73vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

ol.aboutMeList {
    counter-reset: my-counter 30;
    margin: 5px 10px 0px 100px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
ol.aboutMeList li {
      list-style-type: none;
      display: flex;
      
      color: rgb(89, 89, 89);
      
}
  ol.aboutMeList li::before {
      counter-increment: my-counter;
      content: counter(my-counter, decimal-leading-zero);
      
}

.aboutMeList .outerAbout{
    margin: 0px 10px 0px 10px;
    border-left: solid rgb(98, 98, 98) 2px;
    padding: 0px 0px 0px 30px;
    
    color: rgb(79, 79, 79);
}

.aboutMeList .textAbout{
    color: rgb(146, 146, 146);
}

.aboutMeList .innerAbout{
    padding: 0px 10px 0px 30px;
    border-left: solid 2px rgb(98, 98, 98);
    
    color: rgb(146, 146, 146);
}

.upperFade,.lowerFade{
    width: 100%;
    height: 200px;
    background-color: #21202D;;
    filter: blur(25px) brightness(100%);
    position: fixed;
}

.upperFade{
    top: 0px;
}

.lowerFade{
    bottom: 0px;
}


/* Explorer */
.explorerContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 400px;
    height: 100%;
    max-height: calc(100% - 77px);
    margin-top: 25px;
    margin-bottom: 600px;
    background: #17151e;
    border: solid 1px rgb(98, 98, 98);
    color: rgb(97, 97, 97);
    overflow-y: scroll;
    z-index: 101;
}

.explorerContainer::-webkit-scrollbar{
    display: none;
}

.explorerHeader{
    margin: 0px 0px 0px 30px;
    font-weight: bold;
    color: #ffb300;
}

.myIntrestDrop{
    display: flex;
    flex-direction: column;
}

.myIntrestDrop p{
    margin: 0px 0px 5px 10px;
}

.myIntrestDrop span{
    color: #8694aa;
}

.myIntrestDrop .fa-chevron-down{
    margin: 0px 10px 0px 0px;
}

.myIntrestDrop .fa-folder{
    margin: 0px 7px 0px 0px;
}

.droper{
    width: 100%;
    height: 15px;
    padding: 0px 0px 5px 0px;
    align-items: center;
    overflow: hidden;
}

 .droper p{
    height: 3x;
    padding: 0;
    margin: 0px 0px 0px 25px;
    cursor: pointer;
}

.dropped{
    width: 100%;
    height: max-content;
}

.dropped p{
    color: #8694aa;
}

.droper .fa-folder{
    margin: 0px 10px 0px 0px;
}

.droper .fa-chevron-right{
    margin: 0px 10px 0px 0px;
}

.droper .fa-chevron-down{
    margin: 0px 10px 0px 0px;
}

.filesDropped{
    margin: 5px 0px 0px 55px;
}


/* Footer Page */
.footer{
    bottom: 0;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    border-top: solid 1px rgb(98, 98, 98);
    color: rgb(139, 139, 139);
    background: #21202D;
    z-index: 100;
}

.find{
    display: flex;
    height: 100%;
    width: 170px;
    border-right: solid 1px rgb(98, 98, 98);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.twitter, .linked, .git{
    display: flex;
    height: 100%;
    width: 80px;
    border-right: solid 1px rgb(98, 98, 98);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.twitter i{
    color: #1D9BF0;
}

.twitter:hover{
    background-color: #1D9BF0;
}

.linked{
    color: #0A66C2;
}

.linked:hover{
    background-color: #0A66C2;
}

.git{
    color: #93ac32;
}

.git:hover{
    background-color: #93ac32;
}

.time{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px 0px 0px;
    font-size: larger;
}


/* Color Changer */
.colorButtonBody{
    background: #171717;
}

.colorButtonNav{
    background: #171717;
}

.colorButtonSmallNav{
    background: #282828;
}

.colorButtonFocused{
    background: #171717;
    border-top:solid 3.5px #EDEDED;
}

.colorButtonFooter{
    background: #171717;
}

.colorButtonInput input[type="text"]{
    background: #171717;
}

.colorButtonInput input:focus{
    color: #EDEDED;
    caret-color: #EDEDED;
}

.colorButtonInput i{
    color: #EDEDED;
}

.colorButtonGlow{
    background: rgb(175, 65, 244);
}

.colorButtonExplorer{
    background: #171717;
}


.rickQR{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 0;
    transform: translate(50%, -50%);
    background-color: rgba(49, 50, 50, 0.5);
    border: solid 2px rgb(123, 123, 123);
    justify-content: center;
    align-items: center;
    z-index: 101;
    backdrop-filter: blur(5px);
}

.rickQR .qrImage{
    padding: 20px;
}

.rickQR .qrText{
    padding: 0px 20px 10px 20px;
    text-align: center;
    font-size: large;
}

.rickQR .infoQR{
    font-weight: 100;
    font-size: small;
    text-decoration: underline 0.5px;
}

.hidden{
    display: none;
}